<h1> Photo Details </h1>

<p>
       <img src="<%= @source %>" width="720">

</p>
<p>
	<%= @caption %>
</p>

<tr>
<a href="http://localhost:3000/photos">Back</a>
</tr>

<tr>
<a href="http://localhost:3000/photos/<%= @id %>/edit">Edit</a>
</tr>

<tr>
<a href="http://localhost:3000/photos/<%= @id %>/delete">Delete</a>

</tr>
</tr>
